version: '3.8'

services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: shortener
      POSTGRES_PASSWORD: shortenerpassword
      POSTGRES_DB: shortener
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - internal

  redis:
    image: redis:7
    restart: unless-stopped
    volumes:
      - redis-data:/data
    networks:
      - internal

  backend:
    build:
      context: ./apps/backend
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      DATABASE_URL: "postgresql://shortener:shortenerpassword@postgres:5432/shortener"
      REDIS_URL: "redis://redis:6379"
      ORIGIN_FRONTEND: "https://i.emkacz.dev"
      PORT: "4000"
    depends_on:
      - postgres
      - redis
    ports:
      - "4000:4000"
    networks:
      - internal

  frontend:
    build:
      context: ./apps/frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      VITE_API_URL: "https://api.i.emkacz.dev/api"
    ports:
      - "5173:80"
    networks:
      - internal

volumes:
  postgres-data:
  redis-data:

networks:
  internal:
    driver: bridge

